
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  color: #777777;
  color: #7f7f7f;
  background: yellow;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 17px;
    line-height: 1.5;
    align-items: center
  }
}

a {
  color: red;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #32cd32;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

p.important {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: red;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

header {
align-items: center;
}

nav {
  margin-left: 20pt;
}

nav {
  color: #32cd32;
  border: 10px;
  border-style: dashed;
  background-color: purple;
}

section h1 {
  margin-top: 40pt;
  text-align: center;
}

article {
  border: 1px;
  border-style: solid;
  border-color: blue;
  padding: 10pt;
  margin: 10pt;
}

article header {
  font-style: bold;
}

article p {
  margin-left: 20pt;
}

aside {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-top: 20pt;
  margin-left: 20pt;
}

aside h2 {
  font-size: 16pt;
}

.quotation p {
  font-style: italic;
  margin-left: 10pt;
  align-items: center;
}

footer {
  border-top: 1pt solid;
}

footer p {
  font-size: 12pt;
  text-align: right;
}


